<a href="/admin">back</a>
<h1>Events</h1>
<ul>
    {{#each events}}
    <li>
        <a href="/admin/events/{{this.slug}}">{{this.name}}</a>
    </li>
    {{/each}}
</ul>
<a href="/admin/events/create">Add event</a>