{{> navbar }}
<a href="/admin/events"></a>
<form action="/admin/events/create" method="post">
    <label for="fieldName">Event Name</label>
    <input id="fieldName" type="text" name="name">
    
    <label for="fieldStart">Start of Event</label>
    <input id="fieldStart" type="datetime-local" name="start">
    
    <label for="fieldEnd">End of Event</label>
    <input id="fieldEnd" type="datetime-local" name="end">
    
    <input type="submit">
</form>
