<form id="participantEditForm">
    <input type="hidden" name="eventId" value="{{participant.event}}">
    <input type="hidden" name="participantId" value="{{participant.id}}">
    <label for="fieldName"></label>
    <input id="fieldName" name="name" type="text" value="{{participant.name}}">

    <input type="submit">
</form>

<script src="/admin/javascripts/participantEdit.js"></script>