{{> navbar }}
<a href="/">back</a>

<h1>Events</h1>
<ul>
    {{#each incomingEvents}}
    <li>
        <a href="/events/{{this.slug}}">{{this.name}}</a>
    </li>
    {{/each}}
</ul>

<h1>Past Events</h1>
<ul>
    {{#each pastEvents}}
    <li>
        <a href="/events/{{this.slug}}">{{this.name}}</a>
    </li>
    {{/each}}
</ul>
