
<div class="container" style="border: 1px solid red;">
    <div class="row">
        <div class="col">
            <h1 class="text-center" style="border: 1px solid black;">EVENTS</h1>
            <ul id="events-list" class="list-group mb-3" style="border: 1px solid green;">
                {{#each events}}
                <li class="list-group-item"><a href="{{this.id}}/">{{this.name}}</a></li>
                {{/each}}
            </ul>
            <a href="create" id="submit-btn" class="btn">Create Event</a>
        </div>
    </div> 
</div>
