
<div id="eventsContainer">
    <ul>
        {{#each events}}
        <li><a href="/events/{{this.id}}">{{this.name}}</a></li>
        {{/each}}
    </ul>
    <a href="./create">Create Event</a>
</div>
