
<div id="formContainer">
    <form method="POST" id="eventForm">

        <input type="hidden" name="_csrf" value="{{csrf}}">

        <div>
            <label for="fieldEventName">Event Name</label>
            <input type="text" id="fieldEventName" name="event">
        </div>

        <div>
            <label for="fieldDescription">Description</label>
            <input type="text" id="fieldDescription" name="description">
        </div>

        <div>
            <label for="fieldVenue">Venue</label>
            <input type="text" id="fieldVenue" name="venue">
        </div>

        <div>
            <label for="fieldEventStart">Event Start</label>
            <input type="datetime-local" id="fieldEventStart" name="eventStart">
        </div>

        <div>
            <label for="fieldEventEnd">Event End</label>
            <input type="datetime-local" id="fieldEventEnd" name="eventEnd">
        </div>

        <div id="resultContainer"></div>
        <div>
            <button type="submit">Submit</button>
        </div>

    </form>
</div>


<script src="/javascripts/eventForm.js"></script>