<%- include('./partials/navbar'); %> 
<div class="main-container">

    <div id="incomingEvents" class="container mt-5">
        <% if(events){ %>
        <div class="row">
            <div class="col-3 d-flex flex-column justify-content-center">
                <div>
                    <h1>Upcoming Events</h1>
                </div>
                <div>
                    <a href="/events" class="link-success">See all events</a>
                </div>
            </div>
            <% events.forEach(function(event){ %>
                <div class="col">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title"><%= event.name %></h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="/events/<%= event.slug %>" class="btn btn-outline btn-outline-success">See more</a>
                        </div>
                        <div class="card-footer text-muted">
                            <%= event.start.toDateString() %>
                        </div>
                    </div>
                </div>
            <% });%>
        </div>

        <% } else { %>
            <h4>There are no upcoming events</h4>
        <% } %>
    </div>

</div>

    