<div id="page-container">
    {{> navbar }}

    <div class="main-container">
        {{#if events}}
        <h1>Upcoming Events</h1>
        {{#each events}}
            <ul>
                <li><a href="/events/{{this.slug}}">{{this.name}}</a></li>
            </ul>
        {{/each}}
        {{/if}}

        {{#unless events}}
            <h4>There are no upcoming events</h4>
        {{/unless}}
        <a href="/events">See all events</a>
    </div>

</div>
    