<div id="page-container">
    <a href="/">Organization Name</a>
    {{#if user.isAuthenticated}}
        <a href="/users/{{user.id}}">{{user.name}}</a>
        <a href="/users/logout">Logout</a>
    {{/if}}
    {{#unless user.isAuthenticated }}
        <a href="/users/login">Login</a>
    {{/unless}}
    <a href="/users/register">Sign up</a>

    <div class="main-container">
        {{#if events}}
        <h1>Upcoming Events</h1>
        {{#each events}}
            <ul>
                <li><a href="/events/{{this.id}}">{{this.name}}</a></li>
            </ul>
        {{/each}}
        {{/if}}

        {{#unless events}}
            <h4>There are no upcoming events</h4>
        {{/unless}}

    </div>

</div>
    