<div id="main-container" class="container-fluid p-0">
    <div class="container">
        <nav id="nav-container" class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Organization Name</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                        <a class="nav-link" href="#section-container-1">About us</a>
                        <a class="nav-link" href="#section-container-2">Events</a>                    
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <h1 class="text-center">HELLO WORLD</h1>
    <section id="section-container-1" class="container-fluid border border-info">
        <div id="main-content" class="row my-3">
            <div class="col d-block px-4">
                <h1 class="text-center text-dark">This is a title</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lectus lectus, finibus non faucibus sit amet, condimentum et nunc. Nam lobortis, nibh sit amet euismod condimentum, nunc diam pellentesque ante, nec mattis leo purus id dolor. Proin efficitur pharetra dolor vel finibus. Curabitur sodales ultricies nibh ac ultricies. Phasellus efficitur scelerisque ultricies. Morbi ipsum justo, facilisis in tristique consectetur, consectetur id odio. Fusce lacinia urna libero, blandit molestie nibh pharetra vitae.
                </p>
            </div>
            <div id="logo-container" class="col">
                <img id="logo" class="d-block mx-auto"src="/images/logo.png" style="width:300; height:300px;">
            </div>
        </div>
    </section>

    <section id="section-container-2" class="container-fluid border border-info">
        <div id="main-content" class="row my-3">
            <div class="col-2 px-4 d-flex align-items-center justify-content-center">
                <div class="h1 text-end text-dark">Incoming Events</div>
            </div>
            <div id="logo-container" class="col">
                <div class="row">

                    <div class="col">
                        <img src="/images/logo.png" class="d-block mx-auto" style="width: 200px; height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title text-center mb-3">Event Title 1</h5>
                            <a href="#" class="btn border border-info">See Event</a>
                        </div>
                    </div>

                    <div class="col">
                        <img src="/images/logo.png" class="d-block mx-auto" style="width: 200px; height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title text-center mb-3">Event Title 2</h5>
                            <a href="#" class="btn border border-info">See Event</a>
                        </div>
                    </div>

                    <div class="col">
                        <img src="/images/logo.png" class="d-block mx-auto" style="width: 200px; height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title text-center mb-3">Event Title 3</h5>
                            <a href="#" class="btn border border-info">See Event</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


</div>

<footer class="bg-white p-3 text-center">
    <div>Icons made by <a href="https://www.flaticon.com/authors/xnimrodx" title="xnimrodx">xnimrodx</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</footer>
    
    