
<div class="container">
    <form method="POST" id="participantForm">

        <input type="hidden" name="_csrf" value="{{csrf}}">
        <input type="hidden" name="event" value="{{event.id}}">
        
        <div class="mb-3">
            <label for="fieldName" class="form-label">Fullname</label>
            <input class="form-control" type="text" id="fieldName" name="name">
        </div>

        <div id="error-container" class="mb-3"></div>
        <div>
            <button class="btn" type="submit">Submit</button>
        </div>

    </form>
</div>


<script src="/javascripts/participantForm.js"></script>