<div id="container">
    <form id="participantEditForm">

        <input type="hidden" name="_csrf" value="{{csrf}}">
        <input type="hidden" name="participantId" value="{{participant.id}}">
        <input type="hidden" name="eventId" value="{{participant.event}}">

        <div class="mb-3">
            <label class="form-label" for="fieldParticipantName">Participant Name</label>
            <input class="form-control" id="fieldParticipantName" name="participantName" type="text" placeholder="Participant Name" value="{{participant.name}}">
        </div>

        <div id="error-container" class="mb-3"></div>
        <button class="btn btn-primary" type="submit">Submit</button>
        
    </form>
</div>

<script src="/javascripts/participantEdit.js"></script>