<%- include('../partials/navbar'); %>
<div class="container w-50 my-5 d-flex justify-content-center">
    
    <form id="loginForm" class="w-75 p-5 border rounded-3" action="/users/login" method="POST">
        <h1 class="mb-4">Login</h1>
        <input type="hidden" name="_csrf" value="<%= typeof csrf !== 'undefined' ? csrf : '' %>">
        <%- include('../partials/messages'); %>
        <div class="mb-3 w-100">
            <label class="form-label" for="fieldEmail">Email</label>
            <input class="form-control" id="fieldEmail" name="email" type="email" placeholder="abc@email.com">
        </div>

        <div class="mb-3">
            <label class="form-label" for="fieldPassword">Password</label>
            <input class="form-control" id="fieldPassword" name="password" type="password" placeholder="password">
        </div>

        <button class="btn btn-primary mb-3" type="submit">Submit</button>
        
        <p class="text-center small">Doesn't have an account? Register <a href="/users/register">here</a></p>
    </form>
</div>
